{% extends 'base.html' %}
{% block list %}
    {{ post_type }}
    {% for art in contacts %}
    <article class="post">
        <header>
            <div class="title">
{#                <h2><a href="#">Magna sed adipiscing</a></h2>#}
                <h2><a href="/article/{{ art.id }}">{{ art.title }}</a></h2>
{#                <p>处事树为模 立身钱做样</p>#}
            </div>
            <div class="meta">
                <time class="published" datetime="2015-11-01">{{ art.c_time }}</time>
                <a href="#" class="author"><span class="name">{{ art.author }}</span><img src="../static/images/avatar.jpg" alt="" /></a>
            </div>
        </header>
        <a href="#" class="image featured"><img src="../static/images/pic01.jpg" alt="" /></a>
        <p>{{ art.Guide_reading }}</p>
        <footer>
            <ul class="actions">
                <li><a href="/article/{{ art.id }}" class="button big">阅读全文</a></li>
            </ul>
            <ul class="stats">
                <li><a href="#">General</a></li>
                <li><a href="#" class="icon fa-heart">28</a></li>
{#                <li><a href="#" class="icon fa-comment">128</a></li>#}
            </ul>
        </footer>
    </article>
    {% endfor %}
    <ul class="actions pagination">
        {% if contacts.has_previous %}
        <li><a href="?page={{ contacts.previous_page_number }}" class=" button big previous">上一页</a></li> <!--Previous Page-->
        {% endif %}
        {% if contacts.has_next %}
        <li><a href="?page={{ contacts.next_page_number }}" class="button big next">下一页</a></li>
        {% endif %}
    </ul>

{% endblock %}
